* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
         
  body {
    background-color: #000814; /*default*/
    background: linear-gradient(
      -45deg,
      #4F1C51, #000814,#011534);
      background-size: 400% 400%;
      
  }

  #star {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
  }

  /* name logo */
  div.logo {
    font-size: 28px;
    font-weight: bold;

    position: relative;
    left: 30px;
    color: white;

    background-clip: text;
    background: -webkit-linear-gradient(#7400b8, #6930c3, #5e60ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      filter: drop-shadow(0 0 10px #5234ff);
    }
    to {
      filter: drop-shadow(0 0 20px #5234ff);
    }
  }

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  padding: 1%;
  color: white;
  font-family: monospace; 
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.3);
}


.nav-links {
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between; 
  gap: 50px;
  left: 780px;
}

.navbar .nav-links {
  list-style: none;
}


.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px;
  display: inline-block;
  position: relative;

}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0%;
  height: 2px;
  background: white;
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}



.nav-links a:hover {
  text-decoration: none;
  background-clip: text;
  background: -webkit-linear-gradient(#7400b8, #6930c3, #5e60ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  }


/* pfp image*/
.pfpIMG img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
}

.pfpIMG {
  margin-top: 175px;
  border-radius: 50%;
  padding: 20px;
  width: 450px;
  height: 450px;
  background-image: 
  linear-gradient(45deg, 
  rgba(128, 0, 128, 0.49), 
  rgba(0, 0, 255, 0.325), 
  pink,
  lightblue);
  background-size: 300% 300%;
  animation: aura 4s linear infinite;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  margin-left: 60px;
}

@keyframes aura { 
  /* helps the colors slide from left to right withought abrupt changes */
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.pfpIMG:hover {
  transform: scale(1.08);
  transition: transform 0.3s ease;
}


/* intro page */
.intro {
  color: white;
  font-size: 46px;
  font-weight: bold;
  font-family: monospace;
  float: left;
  margin-left: 700px;
  margin-top: -280px
}

.intro ul {
  font-size: 30px;
}

#typewriter {
  white-space: pre-line; /* makes \n show as newlines */
}

/* blinking cursor */
#typewriter::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 1em;
  background: white;
  margin-left: 3px;
  animation: blink 1s infinite;
}

/* to make the cursor blink, you make it visible then invisible at a state */
@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}


/* --------------------- ABOUT ME PAGE ---------------------- */
.aboutMe {
  scroll-margin-top: 100px;
  color: white;
  
}

.abtmeHeader {
    font-size: 30px;
    font-weight: bold;
    margin-top: 175px;
    text-align: center;
    padding: 10px;
    
    background-clip: text;
    background: -webkit-linear-gradient(#7400b8, #6930c3, #5e60ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.abtmeDescr {
  font-family:'Courier New', Courier, monospace;
  padding: 5px 500px;
  font-size: 20px;
  text-align: center;
}


/* --------------------- SKILLS PAGE ---------------------- */
.skillsPage {
  scroll-margin-top: 100px;
}
.listOfSkills {
  font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 115px;
    text-align: center;
    padding: 10px;
    
    background-clip: text;
    background: -webkit-linear-gradient(#7400b8, #6930c3, #5e60ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}


.all_skills {
  position: relative;
  width: 100%;
  height: 100%;
}

.csspic,
.htmlpic,
.jspic,
.racketpic,
.pythonpic,
.cpluspic,
.reactpic,
.tspic {
  padding: 10px;
  position: absolute;
}
.csspic {
  top: -10px;
  left: 100px;
}

.htmlpic {
  top: 100px;
  left: 400px;
}
.jspic {
  top: 0px;
  left: 1200px;
}
.racketpic {
  top: 175px;
  left: 1100px;
}
.cpluspic {
  top: 250px;
  left: 200px;
}
.pythonpic {
  top: 50px;
  left: 900px;
}
.tspic {
  left: 900px;
  top: 300px;
}
.reactpic {
  left: 400px;
  top: 300px;
}








.csspic img {
  height: 175px;
  width: 175px;
}
.htmlpic img {
  height: 130px;
  width: 130px;
}
.jspic img{
  height: 130px;
  width: 130px;
}
.racketpic img {
  height: 130px;
  width: 130px;
}
.cpluspic img {
  height: 100px;
  width: 100px;
}
.pythonpic img {
  height: 100px;
  width: 100px;
}
.reactpic img {
  height: 100px;
  width: 100px;
}
.tspic img {
  height: 100px;
  width: 100px;
}




/* --------------------- PROJECTS PAGE ---------------------- */
.projectsPage {
  scroll-margin-top: 100px;
}
.projectHeader {
  font-size: 60px;
    font-weight: bold;
    color: white;
    margin-top: 115px;
    text-align: center;
    padding: 10px;
    
    background-clip: text;
    background: -webkit-linear-gradient(#7400b8, #6930c3, #5e60ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

.allProjects a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.allProjects a:visited {
  color: white;
}

.allProjects a:hover {
  color: #b4dac3;
  text-decoration: none;
}

#allProjects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
}

#allProjects > div {
  max-width: 200px;
  height: 200px;
  text-align: center;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.517);
  border-radius: 50%;
  padding: 15px;
  transition: transform 0.2s;
  /*background-size: 300% 300%;*/
  background-image: 
  linear-gradient(45deg, #1d1640,#3d276f,#001d83,#39977f,#b4dac3);
  animation: aura 4s linear infinite, float 8s ease-in-out infinite;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

}

#allProjects > div:hover {
  animation-play-state: paused;
  transform: scale(1.03);
}

.smartCalc { animation-delay: 0s, 0s; }
.cal       { animation-delay: 0s, 2s; }
.ztype     { animation-delay: 0s, 4s; }
.personalwebsite {animation-delay: 0s, 0.1s;}

@keyframes float {
  0%   { transform: translate(0px, 0px); }
  25%  { transform: translate(5px, -5px); }
  50%  { transform: translate(-5px, 5px); }
  75%  { transform: translate(5px, 5px); }
  100% { transform: translate(0px, 0px); }
}





/* --------------------- CONTACT PAGE ---------------------- */

.contactPage {
  text-align: center;
}

.contactPage a:hover {
  color: white;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
.contactPage a {
  text-decoration: none;
  font-size: 40px;
  padding: 50px;
  text-align: center;


  background-clip: text;
    background: -webkit-linear-gradient(#7400b8, #6930c3, #5e60ce);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate
}




























  